@using VacationManager.Data.Models;
@using VacationManager.Data;

@{
    ViewData["Title"] = "View Team";
    Team team = ViewData["Team"] as Team;
    User loggedUser = ViewData["LoggedUser"] as User;
    VacationManagerDbContext Context = ViewData["Context"] as VacationManagerDbContext;
    Project teamProject = null;
    if(team.Project != null)
    {
        teamProject = Context.Projects.FirstOrDefault(p => p.Id == team.ProjectId);
    }
    List<User> teamMembers = Context.Users.Where(u => u.TeamId == team.Id).ToList();
}

<h1>View Team</h1>

<div class="list-group">
    <ul class="list-unstyled">
        <li class="list-inline-item">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Team Name: @team.Name</h2>
                    @if (teamProject != null)
                    {
                        <h2 class="card-title">@team.Name  is working on project: @teamProject.Name</h2>
                    }

                    @if (teamMembers != null)
                    {
                        <br />
                        <h1> Members of the team are: </h1>
                        <br />
                        @foreach (var user in teamMembers)
                        {
                            <h2 class="card-title">@user.FirstName @user.LastName</h2>
                        }
                    }
                    else
                    {
                        <br />
                            <h1> This team has no members </h1>
                        <br />
                    }

                    @if (loggedUser != null && loggedUser.PermissionLevel == 2)
                    {
                        <a style="margin-top:75px;" class="btn btn-primary btn-rounded" asp-area="" asp-controller="Team" asp-action="EditTeamByCEO" asp-route-id="@team.Id">Edit team information</a>
                        <a style="margin-top:75px;" class="btn btn-primary btn-rounded" asp-area="" asp-controller="Team" asp-action="DeleteTeam" asp-route-id="@team.Id">Delete team</a>
                    }
                    else if (loggedUser != null && loggedUser.PermissionLevel == 1 && loggedUser.TeamId == team.Id)
                    {
                        <a style="margin-top:75px;" class="btn btn-primary btn-rounded" asp-area="" asp-controller="Team" asp-action="EditTeam" asp-route-id="@team.Id">Edit team information</a>
                        <a style="margin-top:75px;" class="btn btn-primary btn-rounded" asp-area="" asp-controller="Team" asp-action="DeleteTeam" asp-route-id="@team.Id">Delete team</a>
                    }
                    <a style="margin-top:75px;" class="btn btn-primary btn-rounded" asp-area="" asp-controller="Team" asp-action="ViewAllCreatedTeams">Back to all teams</a>
                </div>
            </div>
        </li>
    </ul>
</div>