@using VacationManager.ViewModels;
@using VacationManager.Data.Models;
@using VacationManager.Data;

@{
    ViewData["Title"] = "Roles information";
    AllUsersViewModel users = ViewData["CreatedUsers"] as AllUsersViewModel;
    VacationManagerDbContext Context = ViewData["Context"] as VacationManagerDbContext;
}

<div class="list-group">
    <h3>All created roles</h3>
    <hr />
    <ul class="list-unstyled">
        <li>
            <h1>CEO members</h1>
        </li>

        @foreach (var user in users.Users)
        {
            @if (user.Role == "CEO")
            {
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-primary">First Name: @user.FirstName</h2>
                            <h2 class="card-title text-primary">Last Name: @user.LastName</h2>
                        </div>
                    </div>
                </li>
            }
        }

        <li>
            <h1>Team lead employeers</h1>
        </li>

        @foreach (var user in users.Users)
        {
            @if (user.Role == "Team Lead")
            {
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-primary">First Name: @user.FirstName</h2>
                            <h2 class="card-title text-primary">Last Name: @user.LastName</h2>
                        </div>
                    </div>
                </li>
            }
        }

        <li>
            <h1>Developers</h1>
        </li>

        @foreach (var user in users.Users)
        {
            @if (user.Role == "Developer")
            {
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-primary">First Name: @user.FirstName</h2>
                            <h2 class="card-title text-primary">Last Name: @user.LastName</h2>
                        </div>
                    </div>
                </li>
            }
        }

        <li>
            <h1>Unassigned employees</h1>
        </li>

        @foreach (var user in users.Users)
        {
            @if (user.Role == "Unassigned")
            {
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-primary">First Name: @user.FirstName</h2>
                            <h2 class="card-title text-primary">Last Name: @user.LastName</h2>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
    <hr />
</div>

